<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.mapper.UserMapper">

    <sql id="UserInfo">
        user_id,username,password,role_id,fill_name,contact,address,email,gender,date_of_birth,registration_date,avatar
    </sql>
    <select id="getUserByUserName" resultType="user">
        select
            <include refid="UserInfo" />
        from
            users
        where
            username = #{username}
    </select>
</mapper>
